<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Spitale-Gaido">
    <link rel="icon" type="image/png" href="/sisterna.png" sizes="32x32">
    <script type="text/javascript" src="ui/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="ui/lib/angular-route/angular-route.min.js"></script>


    <link href="ui/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="ui/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="ui/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="ui/lib/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
    <link href="ui/lib/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link href="ui/lib/angular-ui-notification/dist/angular-ui-notification.min.css" rel="stylesheet">
    <script type="text/javascript" src="ui/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="ui/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="ui/lib/angular-touch/angular-touch.min.js"></script>
    <script type="text/javascript" src="ui/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="ui/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="ui/lib/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="ui/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="ui/lib/angular-sweetalert/SweetAlert.min.js"></script>
    <script type="text/javascript" src="ui/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="ui/lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="ui/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="ui/lib/ng-stomp/dist/ng-stomp.standalone.min.js"></script>

    <script type="text/javascript" src="ui/app.js"></script>
    <script type="text/javascript" src="ui/rutas.js"></script>
    <script type="text/javascript" src="ui/interceptores.js"></script>

    <script type="text/javascript" src="ui/modulos/ordenes-modulo.js"></script>
    <script type="text/javascript" src="ui/controladores/ordenes-controller.js"></script>
    <script type="text/javascript" src="ui/servicios/ordenes-service.html.js"></script>

    <script type="text/javascript" src="ui/controladores/loginController.js"></script>
    <script type="text/javascript" src="ui/servicios/core-service.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="ui/vistas/index.css">
    <link rel="stylesheet" type="text/css" href="ui/vistas/crearUsuario.css">
    <link rel="stylesheet" type="text/css" href="ui/vistas/ordenes.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div ng-init="pedirAlarmas()" class="navegacion">
    <div class="navIzqui">
        <p class="navTitulo">Final IW3</p>
    </div>
    <div class="navCentr"></div>
    <div class="navDer">
        <img ng-show="!existeAlarma()" class="fotoNav" src="campana.png" alt="">
        <div ng-show="existeAlarma()" class="dropdown">
            <div class="imagenTexto">
                <img class="fotoNav" src="campanaNotificacion.png" alt="">
            </div>
            <div class="dropdown-content">
                <select class="puntero" ng-model="alarm" ng-click="cons(alarm);" >
                    <option ng-repeat="alarm in listaAlarmas" value="{{alarm}}">{{alarm.descripcion}}</option>
                </select>
            </div>

        </div>
        <div class="bloqueNav"></div>
        <div class="dropdown">
            <div class="imagenTexto">
                <p class="navTitulo userLog">{{ userData().username || 'No autenticad@'}}</p>
                <img class="fotoNav" src="cerrarSesion.png" alt="">
            </div>
            <div class="dropdown-content">
                <a href="#">Cuenta</a>
                <a ng-click="logout()">Cerrar sesion</a>
            </div>
        </div>
        <div class="bloqueNavi"></div>
    </div>
</div>

<body ng-app="trabajoIntegrador" style="overflow:hidden ;">
    <!--Modulo de Angular I> -->
    <div style="height: 100%; width: 100%;" ng-view=""></div>
</body>

</html>


<!--  <li><a ng-click = "relocate('ordenes')">Ordenes</a></li>-->